body {


  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
  background: #fff;
  //overflow: hidden;


  //background-image: url("/media/images/backgrounds/whiteboard.jpg");
  //background-repeat: repeat, repeat;

  //background: linear-gradient(0deg, #d9f8ff, #ffffff);
  //background-attachment: fixed;

}

a {

  //text-decoration: none;
  color: #000000;
  outline: 0;
  cursor: Pointer;

}

button, .button, input[type="submit"] {


  display: inline-block;
  border: none;
  padding: 0 10px;
  margin: 2px;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: #37beff;
  }

}



#app{
  position: relative;
  //top: 50px;
  //left: 50px;

  width: 100vw;
  height: 100vh;
  //border: 1px solid red;
  overflow: hidden;
}




.popup-window{

  z-index: 3;
  position: fixed;

  top:50px;
  bottom:50px;
  left:20vw;
  right:20vw;

  //opacity: 0.9;
  //background-color: green;//rgba(255,255,255,0.5);
  border-radius: 3px;

  padding: 10px;
  overflow-y: scroll;



  input:focus {
    outline: none;
  }
}


#loading{
  position: fixed;
  z-index: 99999;

  top: 0px;
  left: 50vw;

  color: rgba(0, 0, 0, 0.61);

}



.add-todo{
  z-index: 2;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
  //padding: 10px;

  background-color: #37beff;
  box-shadow: #000 0 0 5px;

  border-radius: 40px;
  font-size: 20px;



  justify-content: center;
  align-items: center;


}


.clickable{
  cursor: Pointer;
}




@import "todo-app";
@import "todo-edit";
@import "todos-table";


@import "../../node_modules/react-datetime/css/react-datetime.css";
/**/