



.todo-edit{


  .segment{
    width:100%;
  }



  .resources{

    //border: 1px dotted red;


    .inputs, .outputs{

      display: inline-block;
      text-align: center;
      width: 50%;

      h2{
        display: block;
        margin:0;
        padding:0;
        font-size: 1.2rem;
        font-weight: normal;
      }


      ul{
        display: block;
        margin:0;
        padding:0;

        li{
          margin:0;
          padding:0;
          list-style:none;


          label{
            .resource{
              display: inline-block;
              width: 150px;
              .key{
                font-weight: bold;
              }
              .unit{
                font-style: italic;
              }
            }
            input{
              width: 150px;
            }


          }




        }
      }


    }



  }


  .done-times{

    text-align: center;

    table{

      //border: 1px dotted red;
      display: inline-block;
      th{
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
      }
      td,th{
        text-align: center;
        width: 200px;
      }
    }

  }


}