.todo-app{


  ul.todo-list:focus {
    outline: none;
  }

  ul.todo-list > li{
    box-shadow: rgba(0,0,0,0.5) 0 0 5px;
  }

  ul.todo-list > li:focus {
    outline: none;
    box-shadow: rgba(0,0,0,0.8) 0 0 7px;
    z-index: 99999999!important;
  }

  ul.todo-list > li h3{
    font-size: 1.1rem;
  }

  a{
    color: inherit;
  }

  margin-top: 5vh;


  /*border: 1px dotted red;
  &>*{
    border: 1px dotted green;
  }*/



  h1{
    text-align: center;
    font-size: 1.7rem;
    margin: 5px;
  }


  .select-view {

    ul {
      display: block;
      list-style: none;
      text-align: center;
      margin:0px;


      li {
        display: inline-block;
        padding: 10px;
        font-size: 1.5rem;
        cursor: Pointer;


        //background-color: #f3f3f3;


        &.selected {
          border: 1px solid black;
          border-bottom: none;
        }
        &:hover, &.selected {
          background-color: rgba(0, 0, 0, 0.11);
        }



      }
    }

  }



  footer{

    position: fixed;
    background-color: white;

    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;

    padding: 4px;


  }


}
