.todo-app{
  ul.todo-list:focus {
    outline: none;
  }

  ul.todo-list > li{
    box-shadow: rgba(0,0,0,0.5) 0 0 5px;
  }

  ul.todo-list > li:focus {
    outline: none;
    box-shadow: rgba(0,0,0,0.8) 0 0 7px;
    z-index: 99999999!important;
  }

  ul.todo-list > li h3{
    font-size: 1.1rem;
  }

  a{
    color: inherit;
  }
}